<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<meta http-equiv="x-ua-compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="shortcut icon" href="http://img.mailchimp.com/404-favicon.ico">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet"> 
	<style type="text/css">
		body{
			margin:0;
			padding:0;
			font-family:'arial';
		}
		a{
			border:0;
			outline:none;
			text-decoration:none;
		}
		img{
			border:0;
			outline:none;
		}

		@media(max-width: 375px){
			.table{
				width: 100% !important;
				padding: 15px !important;
			}
		}
	</style>
</head>
<body>

	<table width="330" cellpadding="0" cellspacing="0" border="0" align="center" class="table">
		<tbody>
			<tr>
				<td>
					<img src="https://parseserverstoragewest.blob.core.windows.net/parse/brandLogo.png" alt="Papr.ai">
				</td>
			</tr>

			<tr><td height="40"></td></tr>

			<tr>
				<td style="font-size: 20pt; line-height: 20pt;font-family: Segoe UI; text-align: left; font-weight: 700; color: #353535">Join {{ workspace }} on Papr</td>
			</tr>

			<tr><td height="25"></td></tr>

			<tr>
				<td style="font-size: 16pt; line-height: 24px;font-family: Segoe UI; color: #353535;">
					{{ username }} has invited you to join his {{ workspace }} community on Papr. Join to connect to community experts and participate in questions and answer discussions.
				</td>
			</tr>

			<tr><td height="30"></td></tr>

			<tr>
				<td>
					<table cellspacing="0" cellspacing="0" align="center" border="0">
						<tr>
							<td style="color: #ffffff; background-color: #149cf6; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;text-align: center; width:215px; height: 50px;">
								<a href="http://202.131.123.11:3001/deeplink?url=Papr.ai://workspace?workspaceId={{workspaceId}}?email={{email}}" style="display:block; width:100%;  text-decoration: none;color: #ffffff; background-color: #149cf6; font-family:  Segoe UI, sans-serif;vertical-align: middle; font-size:20pt; line-height:50px; font-weight: 500;">
									<span style="color: #FFFFFF;display: block;">Join Now</span>
								</a>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>